body{
    background-color: cornsilk;
}

#animal-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.animal{
    border: 3px solid green;
    width: 300px;
    text-align: center;
    margin: 2%;
    padding: 3%;
}

.animal img{
    max-width: 90%;
}

.carnivore{
    background-color: red;
}

.vegetable{
    background-color: green;
}